In [4]:
import pandas as pd
import numpy as np

In [11]:
#load datasets
cnn = pd.read_csv('/Users/arthurwu/Downloads/datasets/cnn_fb_data.csv')
nyt = pd.read_csv('/Users/arthurwu/Downloads/datasets/nyt_fb_data.csv')
washpost = pd.read_csv('/Users/arthurwu/Downloads/datasets/wash_fb_data.csv')
nbc = pd.read_csv('/Users/arthurwu/Downloads/datasets/nbc_fb_data.csv')
fox = pd.read_csv('/Users/arthurwu/Downloads/datasets/fox_fb_data.csv')
bbc = pd.read_csv('/Users/arthurwu/Downloads/datasets/bbc_fb_data.csv')
wallstreet = pd.read_csv('/Users/arthurwu/Downloads/datasets/wsj_fb_data.csv')
abc = pd.read_csv('/Users/arthurwu/Downloads/datasets/abcnews_fb_data.csv')
guardian = pd.read_csv('/Users/arthurwu/Downloads/datasets/theguardian_fb_data.csv')
usatoday = pd.read_csv('/Users/arthurwu/Downloads/datasets/usatoday_fb_data.csv')

dataset_list = [cnn, nyt, washpost, nbc, fox, bbc, wallstreet, abc, guardian, usatoday]

In [12]:
usatoday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463 entries, 0 to 2462
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   News Org.          2463 non-null   object
 1   Post's Title       2217 non-null   object
 2   Added link         2462 non-null   object
 3   Time Posted        2463 non-null   object
 4   Posted By          2463 non-null   object
 5   # Shares           2463 non-null   int64
 6   # Total Reactions  2463 non-null   int64
 7   # Like             2463 non-null   int64
 8   # Love             2463 non-null   int64
 9   # Haha             2463 non-null   int64
 10  # Wow              2463 non-null   int64
 11  # Sad              2463 non-null   int64
 12  # Angry            2463 non-null   int64
 13  # Comments         2463 non-null   int64
 14  Post's Text        2462 non-null   object
dtypes: int64(9), object(6)
memory usage: 288.8+ KB

In [13]:
# convert numeric columns to numeric
for df in dataset_list:
    df[['# Shares', '# Total Reactions', '# Like', '# Love', '# Haha', '# Wow', '# Sad', '# Angry', '# Comments']] = df[['# Shares', '# Total Reactions', '# Like', '# Love', '# Haha', '# Wow', '# Sad', '# Angry', '# Comments']].astype(float)

In [14]:
fb_data = pd.concat(dataset_list)
fb_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16822 entries, 0 to 2462
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   News Org.          16822 non-null  object
 1   Post's Title       15538 non-null  object
 2   Added link         16187 non-null  object
 3   Time Posted        16192 non-null  object
 4   Posted By          16192 non-null  object
 5   # Shares           16158 non-null  float64
 6   # Total Reactions  16192 non-null  float64
 7   # Like             16192 non-null  float64
 8   # Love             16192 non-null  float64
 9   # Haha             16192 non-null  float64
 10  # Wow              16192 non-null  float64
 11  # Sad              16192 non-null  float64
 12  # Angry            16192 non-null  float64
 13  # Comments         16192 non-null  float64
 14  Post's Text        14531 non-null  object
dtypes: float64(9), object(6)
memory usage: 2.1+ MB

In [15]:
# drop invalid rows
fb_data = fb_data.dropna(subset=['Posted By', '# Shares', '# Total Reactions'])

In [16]:
fb_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16158 entries, 1 to 2462
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   News Org.          16158 non-null  object
 1   Post's Title       15506 non-null  object
 2   Added link         16153 non-null  object
 3   Time Posted        16158 non-null  object
 4   Posted By          16158 non-null  object
 5   # Shares           16158 non-null  float64
 6   # Total Reactions  16158 non-null  float64
 7   # Like             16158 non-null  float64
 8   # Love             16158 non-null  float64
 9   # Haha             16158 non-null  float64
 10  # Wow              16158 non-null  float64
 11  # Sad              16158 non-null  float64
 12  # Angry            16158 non-null  float64
 13  # Comments         16158 non-null  float64
 14  Post's Text        14502 non-null  object
dtypes: float64(9), object(6)
memory usage: 2.0+ MB

In [17]:
# filter for rows that contain covid keywords in post title and post text columns
fb_data = fb_data[fb_data["Post's Title"].str.contains("covid", case=False, regex=False) |
                  fb_data["Post's Title"].str.contains("coronavirus", case=False, regex=False) |
                  fb_data["Post's Title"].str.contains("pandemic", case=False, regex=False) |
                  fb_data["Post's Title"].str.contains("vaccine", case=False, regex=False) |
                  fb_data["Post's Text"].str.contains("covid", case=False, regex=False) |
                  fb_data["Post's Text"].str.contains("coronavirus", case=False, regex=False) |
                  fb_data["Post's Text"].str.contains("pandemic", case=False, regex=False) |
                  fb_data["Post's Title"].str.contains("vaccine", case=False, regex=False)
                 ]

In [18]:
fb_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4962 entries, 1 to 2460
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   News Org.          4962 non-null   object
 1   Post's Title       4772 non-null   object
 2   Added link         4962 non-null   object
 3   Time Posted        4962 non-null   object
 4   Posted By          4962 non-null   object
 5   # Shares           4962 non-null   float64
 6   # Total Reactions  4962 non-null   float64
 7   # Like             4962 non-null   float64
 8   # Love             4962 non-null   float64
 9   # Haha             4962 non-null   float64
 10  # Wow              4962 non-null   float64
 11  # Sad              4962 non-null   float64
 12  # Angry            4962 non-null   float64
 13  # Comments         4962 non-null   float64
 14  Post's Text        4557 non-null   object
dtypes: float64(9), object(6)
memory usage: 620.2+ KB

In [19]:
fb_data.tail()

,News Org.,Post's Title,Added link,Time Posted,Posted By,# Shares,# Total Reactions,# Like,# Love,# Haha,# Wow,# Sad,# Angry,# Comments,Post's Text
2440,USAToday,Yo-Yo Ma: Usefulness and hope amidst COVID,https://www.facebook.com/usatoday/videos/20989...,4/8/2021,USA TODAY,62.0,532.0,478.0,49.0,1.0,3.0,1.0,0.0,27.0,"Cellist Yo-Yo Ma: ""If people under 27 don't ha..."
2441,USAToday,Here's what it's like to attend a Yankees game...,https://www.facebook.com/usatoday/videos/78950...,4/8/2021,USA TODAY,48.0,333.0,321.0,5.0,4.0,1.0,0.0,2.0,43.0,"Rapid tests, seat pods, Uber Eats and more. US..."
2444,USAToday,"After COVID-19, post-traumatic growth could br...",https://www.usatoday.com/in-depth/news/nation/...,4/8/2021,USA TODAY,57.0,424.0,402.0,10.0,6.0,3.0,1.0,2.0,34.0,As the nation grapples with the fallout of a p...
2447,USAToday,Don't call it a comeback: Nick Cannon unveiled...,https://bit.ly/3uqPRyW,4/8/2021,USA TODAY,54.0,604.0,583.0,14.0,5.0,2.0,0.0,0.0,46.0,"Once again, Niecy Nash assumed Nick Cannon's h..."
2460,USAToday,Is it allergies or COVID-19? How to manage you...,https://www.usatoday.com/in-depth/graphics/202...,4/7/2021,USA TODAY,58.0,398.0,382.0,7.0,8.0,0.0,0.0,1.0,25.0,Allergies and COVID-19 have many similar sympt...

In [20]:
fb_data.to_csv('facebook_covid_posts.csv')

In [21]:
fb_data['News Org.'].value_counts()

WSJ            919
CNN            690
USAToday       638
TheGuardian    603
ABCNews        588
NYT            526
NBC            465
BBC            228
WASH           190
FOX            115
Name: News Org., dtype: int64

In [22]:
# Get frequency table by news organization
fb_data.groupby('News Org.').count()

,Post's Title,Added link,Time Posted,Posted By,# Shares,# Total Reactions,# Like,# Love,# Haha,# Wow,# Sad,# Angry,# Comments,Post's Text
News Org.,,,,,,,,,,,,,,
ABCNews,560,588,588,588,588,588,588,588,588,588,588,588,588,588
BBC,224,228,228,228,228,228,228,228,228,228,228,228,228,228
CNN,683,690,690,690,690,690,690,690,690,690,690,690,690,690
FOX,52,115,115,115,115,115,115,115,115,115,115,115,115,115
NBC,450,465,465,465,465,465,465,465,465,465,465,465,465,464
NYT,523,526,526,526,526,526,526,526,526,526,526,526,526,526
TheGuardian,602,603,603,603,603,603,603,603,603,603,603,603,603,199
USAToday,570,638,638,638,638,638,638,638,638,638,638,638,638,638
WASH,189,190,190,190,190,190,190,190,190,190,190,190,190,190
WSJ,919,919,919,919,919,919,919,919,919,919,919,919,919,919

In [3]:
fb_data2 = pd.read_csv('/Users/arthurwu/Desktop/Jupyter Projects/facebook_covid_posts.csv')

In [8]:
fb_data2.tail()

,Unnamed: 0,News Org.,Post's Title,Added link,Time Posted,Posted By,# Shares,# Total Reactions,# Like,# Love,# Haha,# Wow,# Sad,# Angry,# Comments,Post's Text
4957,2440,USAToday,Yo-Yo Ma: Usefulness and hope amidst COVID,https://www.facebook.com/usatoday/videos/20989...,4/8/2021,USA TODAY,62.0,532.0,478.0,49.0,1.0,3.0,1.0,0.0,27.0,"Cellist Yo-Yo Ma: ""If people under 27 don't ha..."
4958,2441,USAToday,Here's what it's like to attend a Yankees game...,https://www.facebook.com/usatoday/videos/78950...,4/8/2021,USA TODAY,48.0,333.0,321.0,5.0,4.0,1.0,0.0,2.0,43.0,"Rapid tests, seat pods, Uber Eats and more. US..."
4959,2444,USAToday,"After COVID-19, post-traumatic growth could br...",https://www.usatoday.com/in-depth/news/nation/...,4/8/2021,USA TODAY,57.0,424.0,402.0,10.0,6.0,3.0,1.0,2.0,34.0,As the nation grapples with the fallout of a p...
4960,2447,USAToday,Don't call it a comeback: Nick Cannon unveiled...,https://bit.ly/3uqPRyW,4/8/2021,USA TODAY,54.0,604.0,583.0,14.0,5.0,2.0,0.0,0.0,46.0,"Once again, Niecy Nash assumed Nick Cannon's h..."
4961,2460,USAToday,Is it allergies or COVID-19? How to manage you...,https://www.usatoday.com/in-depth/graphics/202...,4/7/2021,USA TODAY,58.0,398.0,382.0,7.0,8.0,0.0,0.0,1.0,25.0,Allergies and COVID-19 have many similar sympt...

In [9]:
fb_data2['Time Posted'] = pd.to_datetime(fb_data2['Time Posted'])

In [12]:
fb_data2.tail()

,Unnamed: 0,News Org.,Post's Title,Added link,Time Posted,Posted By,# Shares,# Total Reactions,# Like,# Love,# Haha,# Wow,# Sad,# Angry,# Comments,Post's Text
4957,2440,USAToday,Yo-Yo Ma: Usefulness and hope amidst COVID,https://www.facebook.com/usatoday/videos/20989...,2021-04-08,USA TODAY,62.0,532.0,478.0,49.0,1.0,3.0,1.0,0.0,27.0,"Cellist Yo-Yo Ma: ""If people under 27 don't ha..."
4958,2441,USAToday,Here's what it's like to attend a Yankees game...,https://www.facebook.com/usatoday/videos/78950...,2021-04-08,USA TODAY,48.0,333.0,321.0,5.0,4.0,1.0,0.0,2.0,43.0,"Rapid tests, seat pods, Uber Eats and more. US..."
4959,2444,USAToday,"After COVID-19, post-traumatic growth could br...",https://www.usatoday.com/in-depth/news/nation/...,2021-04-08,USA TODAY,57.0,424.0,402.0,10.0,6.0,3.0,1.0,2.0,34.0,As the nation grapples with the fallout of a p...
4960,2447,USAToday,Don't call it a comeback: Nick Cannon unveiled...,https://bit.ly/3uqPRyW,2021-04-08,USA TODAY,54.0,604.0,583.0,14.0,5.0,2.0,0.0,0.0,46.0,"Once again, Niecy Nash assumed Nick Cannon's h..."
4961,2460,USAToday,Is it allergies or COVID-19? How to manage you...,https://www.usatoday.com/in-depth/graphics/202...,2021-04-07,USA TODAY,58.0,398.0,382.0,7.0,8.0,0.0,0.0,1.0,25.0,Allergies and COVID-19 have many similar sympt...

In [5]:
fb_data2 = pd.read_csv('facebook_covid_posts2.csv')

In [6]:
fb_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4962 entries, 0 to 4961
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4962 non-null   int64
 1   Unnamed: 0.1       4962 non-null   int64
 2   News Org.          4962 non-null   object
 3   Post's Title       4772 non-null   object
 4   Added link         4962 non-null   object
 5   Time Posted        4962 non-null   object
 6   Posted By          4962 non-null   object
 7   # Shares           4962 non-null   float64
 8   # Total Reactions  4962 non-null   float64
 9   # Like             4962 non-null   float64
 10  # Love             4962 non-null   float64
 11  # Haha             4962 non-null   float64
 12  # Wow              4962 non-null   float64
 13  # Sad              4962 non-null   float64
 14  # Angry            4962 non-null   float64
 15  # Comments         4962 non-null   float64
 16  Post's Text        4557 non-null   object
dtypes: float64(9), int64(2), object(6)
memory usage: 659.1+ KB

In [7]:
fb_data2.head()

,Unnamed: 0,Unnamed: 0.1,News Org.,Post's Title,Added link,Time Posted,Posted By,# Shares,# Total Reactions,# Like,# Love,# Haha,# Wow,# Sad,# Angry,# Comments,Post's Text
0,0,1,CNN,Thousands of meals meant for an Ohio sports fe...,https://cnn.it/2VUDfSU,2020-03-07,CNN,3630.0,18595.0,13710.0,4736.0,8.0,94.0,44.0,3.0,272.0,Instead of throwing it away because of a chang...
1,1,2,CNN,"In the middle of a coronavirus outbreak, peopl...",https://cnn.it/330y3y0,2020-03-07,CNN,189.0,874.0,595.0,10.0,12.0,80.0,172.0,5.0,153.0,There's a new reality beginning to form in the...
2,2,3,CNN,Coronavirus spreads as outbreak clusters grow ...,https://cnn.it/2TxDi5a,2020-03-07,CNN,473.0,1653.0,1010.0,11.0,16.0,190.0,416.0,10.0,372.0,The number of US coronavirus cases more than t...
3,3,10,CNN,Adoptions from China are being held up by the ...,https://www.facebook.com/cnn/videos/1632284580...,2020-03-07,CNN,6400.0,24250.0,13370.0,3659.0,94.0,381.0,6661.0,85.0,1576.0,Many families in the US were just days or week...
4,4,11,CNN,Anderson Cooper Full Circle - CNN,http://cnn.com/FullCircle,2020-03-06,CNN,30.0,278.0,173.0,3.0,0.0,19.0,79.0,4.0,58.0,Weâ€™ll speak with Amir Medawar who pushed to ha...

In [12]:
#Get summary stats for numerical variables grouped by news org
#fb_data2[['# Shares', '# Total Reactions', '# Like', '# Love', '# Haha', '# Wow', '# Sad', '# Angry', '# Comments']].groupby(fb_data2['News Org.']).describe()

fb_data2['# Shares'].groupby(fb_data2['News Org.']).describe()
fb_data2['# Total Reactions'].groupby(fb_data2['News Org.']).describe()
fb_data2['# Like'].groupby(fb_data2['News Org.']).describe()
fb_data2['# Love'].groupby(fb_data2['News Org.']).describe()
fb_data2['# Haha'].groupby(fb_data2['News Org.']).describe()
fb_data2['# Wow'].groupby(fb_data2['News Org.']).describe()
fb_data2['# Sad'].groupby(fb_data2['News Org.']).describe()
fb_data2['# Angry'].groupby(fb_data2['News Org.']).describe()
fb_data2['# Comments'].groupby(fb_data2['News Org.']).describe()

,count,mean,std,min,25%,50%,75%,max
News Org.,,,,,,,,
ABCNews,588.0,130.707483,556.390255,0.0,4.0,12.0,45.25,8133.0
BBC,228.0,302.644737,1355.286848,0.0,8.0,27.0,98.00,16627.0
CNN,690.0,452.976812,2242.646247,0.0,6.0,23.5,114.00,33312.0
FOX,115.0,2712.426087,5785.519736,0.0,121.5,594.0,2507.00,46763.0
NBC,465.0,179.105376,474.496121,0.0,2.0,9.0,77.00,3389.0
NYT,526.0,386.129278,1820.877489,0.0,2.0,9.0,63.75,27911.0
TheGuardian,603.0,99.971808,334.726354,0.0,1.0,5.0,32.50,3035.0
USAToday,638.0,107.954545,349.077941,0.0,1.0,7.0,49.00,4432.0
WASH,190.0,631.836842,1631.985728,0.0,4.0,29.5,362.00,14117.0
WSJ,919.0,45.078346,334.133882,0.0,0.0,2.0,9.00,8520.0

In [36]:
# get summary stats for categorical variables
fb_data2['News Org.'].describe()

count     4962
unique      10
top        WSJ
freq       919
Name: News Org., dtype: object